<html>
    <head>
        <title>Cadastro de patrimônios</title>
        <script src="http://localhost:8080/static/script/jquery/jquery-3.3.1.min.js"></script>
       
    </head>
    <body>
            <form >
                <select name="tipos">
                  <option value="volvo">Computador</option>
                  <option value="saab">Notebook</option>
                  <option value="fiat">Monitor</option>
                  <option value="audi">Projetor</option>
                  <option value="audi">Mesa digitalizadora</option>
                  <option value="audi">Câmera</option>
                </select>
                <br><br>
                <input type="submit">
              </form>
    </body>
</html>